body {
    background-color: rgb(225, 0, 255);
}
.puntaje {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    background-color: antiquewhite;
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");/*para que tome la img de mi vector*/
    mask-image: url("../img/estrella.svg");
}
.item.selec {
    background-color: rgb(87, 58, 116);
}